@font-face {
  font-family: 'Exo';
  src: URL( '../assets/font.ttf' ) format( 'truetype' );
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Exo';
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill { 
  -webkit-background-clip: text;
}

/* INPUT */
.p-float-label {
  width: 100%;
}

.p-float-label label {
  margin-left: .8rem;
}

.p-float-label label::first-letter {
  text-transform: uppercase
}

.p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label, .p-float-label:has(input:-webkit-autofill) label, .p-float-label:has(textarea:focus) label, .p-float-label:has(textarea.p-filled) label, .p-float-label:has(.p-inputwrapper-focus) label, .p-float-label:has(.p-inputwrapper-filled) label {
  top: 2.5px;
  margin-left: 0rem;
  background: #f6f6f6;
  padding: 0px 10px;
}

.p-inputtext:enabled:hover, .p-inputtext:enabled:focus {
  outline: none !important;
  box-shadow: none !important;
}